/* TODO: Make it awesome */

body {
    background-color: rgb(31, 27, 60);
    color: white;
    font-family: 'Josefin', sans-serif;
    font-size: 14px;
    line-height: 1.5rem;
    margin: 5px;
    padding: 5px;
    border: 5px;
    font-size: 100%;
    vertical-align: middle;
  }
  p {
    margin: 10px;
  }
  li {
    margin: 60px,15px,30px,15px;
    padding: 5px;
    border: 2px grey;
  }
  li img {
    margin: 60px,15px,30px,15px;
  }
  
  h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: white;
    background: grey;
    margin-top: 20px;
  }
  
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  fieldset {
    display: inline-block;
  
  }
  legend {
    font-size: 18px;
    color: white;
    margin: 15px;
    padding: 10 px;
    border: bisque;
  }
  
  form, label {
    color:white;
    font-family: 'Monteserrat', sans-serif;
    line-height: 2.5rem;
    border: 3px, grey;
    margin:15px;
  }
  
  input{
    background: whitesmoke;
    color: slategray;
    margin: 15px;
  }
  
  ul li {
    display: inline-block;
  }
  
  button{
    background:slategray;
    font-family: Georgia, serif;
    font-size: 16px;
    color: white;
    padding:24px;
    margin: 30px;
  }
  
  .shrink:focus,{
    transform: scale(0.6);
  }
  
  .shrink {
    background: white;
    color: gray;
  }
  
  section.footer {
    background-color: grey;
    color:  rgb(31, 27, 60);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    padding: 10px;
    text-align: center;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .show {
    display:block;
  }